<h5 class="mb-5 text-lg font-bold tracking-tight text-gray-900 dark:text-white ">Task Details</h5>
<form [formGroup]="taskForm" class="w-full" (ngSubmit)="onSubmit()" novalidate>
  <div class="mb-5">
    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
    <input type="text" id="description" class="form-control" placeholder="Description" formControlName="description">
    @if (taskForm.get('description')?.hasError('required') && taskForm.get('description')?.touched) {
    <div class="form-error">Description is required</div>
    }
  </div>
  <button type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">Submit</button>
  <button type="button" (click)="onClose()"
    class="text-white  ms-2 bg-gray-700 hover:bg-gray-800 font-medium rounded-lg w-full sm:w-auto px-5 py-2.5 text-center">Cancel</button>
</form>
